<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" ng-app="CDash">
  <head ng-controller="HeadController">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow" />
    <link rel="shortcut icon" href="favicon.ico" />

    <link rel="stylesheet" type="text/css" ng-href="{{cssfile}}" />
    <link rel="stylesheet" type="text/css" href="javascript/jquery-ui-1.8.16.css" />
    <link rel="stylesheet" type="text/css" href="javascript/jqModal.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>

    <script src="javascript/jquery-1.10.2.js"></script>
    <script src="javascript/jquery-ui-1.10.4.min.js"></script>
    <script src="javascript/jquery.cookie.js"></script>
    <script src="javascript/jqModal.js"></script>

    <script src="javascript/cdashTableCollapse.js" type="text/javascript" ></script>
    <script src="javascript/angular.min.js"></script>
    <script src="javascript/angular-animate.min.js"></script>
    <script src="javascript/angular-ui-sortable.min.js"></script>
    <script src="javascript/cdash_angular.js"></script>
    <script src="javascript/controllers/head.js"></script>
    <script src="javascript/controllers/index.js"></script>
    <script src="javascript/controllers/filters.js"></script>

    <title ng-bind="title">CDash</title>
  </head>

  <body bgcolor="#ffffff" ng-controller="IndexController">

    <!-- TODO: use local header if it exists. -->
    <ng-include src="'views/partials/header.html'"></ng-include>

    <div ng-if="cdash.requirelogin == 1">
      <!-- TODO: some way to redirect back to this page when they login. -->
      Please <a href="user.php">login</a> to view this page.
    </div>

    <div ng-if="cdash.future == 1">
      CDash cannot predict the future (yet)...
    </div>

    <img id="spinner" src="images/loading.gif" ng-show="loading" />

    <div id=index_content" ng-if="!loading && cdash.requirelogin != 1 && cdash.future != 1">
      <div id="index_top" ng-if="cdash.updates">
        <div name="banner" ng-repeat="banner in cdash.banners">
          {{banner.text}}
        </div>

        <div id="updatechanges">
          <span>
            <span ng-if="cdash.updates.nchanges == -1">No update data</span>
            <span ng-if="cdash.updates.nchanges == 0">No file changed</span>
            <span ng-if="cdash.updates.nchanges > 0">
              <a ng-href="{{cdash.updates.url}}">
                <ng-pluralize count="cdash.updates.nchanges"
                              when="{'1':     '{} file',
                                     'other': '{} files'}">
                </ng-pluralize>
                changed by
                <ng-pluralize count="cdash.updates.nauthors"
                              when="{'1':     '{} author',
                                     'other': '{} authors'}">
                </ng-pluralize>
              </a>
            </span>
            as of <b>{{cdash.updates.timestamp}}</b>
          </span>
        </div>

        <div id="settings" ng-click="showsettings = ! showsettings">

          <img src="images/settings.png"/>
          <ul ng-show="showsettings">
            <li>
              <a id="label_advancedview" ng-click="cdash.advancedview=!cdash.advancedview">
                <span ng-show="cdash.advancedview == 0">Advanced View</span>
                <span ng-show="cdash.advancedview != 0">Simple View</span>
              </a>
            </li>
            <li><a href="" class="autorefresh">Auto-refresh</a></li>
            <li>
              <a id="label_colorblind" href="javascript:;" ng-click="cdash.filterdata.colorblind=!cdash.filterdata.colorblind; colorblind_toggle()">
                <span ng-show="cdash.filterdata.colorblind == 0">Colorblind palette</span>
                <span ng-show="cdash.filterdata.colorblind != 0">Classic palette</span>
              </a>
            </li>
            <li>
              <a id="label_showfilters" ng-click="showfilters=!showfilters">
                <span ng-show="showfilters == 0">Show Filters</span>
                <span ng-show="showfilters != 0">Hide Filters</span>
              </a>
            </li>
            <li>
              <a href="" ng-click="toggleFeed()" ng-show="!showFeed">
                Show Feed
              </a>
              <a href="" ng-click="toggleFeed()" ng-show="showFeed">
                Hide Feed
              </a>
            </li>
            <li><a href="" class="helptrigger">Help</a></li>
          </ul>
        </div>

        <div id="helpmenu">
          <div class="jqmWindow" id="help">Loading help...</div>
          <div class="jqmWindow" id="groupsdescription">Loading group description...</div>
        </div>

        <!-- Filters -->
        <ng-include src="'views/partials/filterdataTemplate.html'"></ng-include>
      </div> <!-- End index-top -->

      <div ng-if="cdash.feed" ng-show="showFeed" id="feed" ng-include="'ajax/getfeed.php?projectid='+ cdash.projectid"></div>

      <table ng-if="cdash.testingdataurl" width="100%" cellpadding="11" cellspacing="0">
        <tr>
          <td height="25" align="left">
            Testing data for this project can be found at:
            <a ng-href="{{cdash.testingdataurl}}">{{cdash.testingdataurl}}</a>
          </td>
        </tr>
      </table>

      <!-- Display subproject dependencies -->
      <table ng-if="cdash.subproject.dependencies.length > 0" border="0" cellpadding="4" cellspacing="0" width="100%" class="tabb">
        <tbody>
          <tr class="table-heading1">
            <td colspan="2" class="nob">
              <h3>
                <a href="#" class="grouptrigger">SubProject Dependencies</a>
              </h3>
            </td>
            <!-- quick links -->
            <td colspan="9" align="right" class="nob">
              <div id="Coverage"></div>
              <div class="quicklink">
                <a ng-repeat="buildgroup in cdash.buildgroups | orderBy:'position'" ng-href="#{{linkname}}">
                  {{buildgroup.name}}
                </a>
                |
                <a href="#DynamicAnalysis">Dynamic Analysis</a>
              </div>
            </td>
          </tr>

          <tr class="table-heading">
            <td align="center" rowspan="2" width="20%"><b>Project</b></td>
            <td align="center" colspan="3" width="20%"><b>Configure</b></td>
            <td align="center" colspan="3" width="20%"><b>Build</b></td>
            <td align="center" colspan="3" width="20%"><b>Test</b></td>
            <td align="center" rowspan="2" width="20%" class="nob"><b>Last submission</b></td>
          </tr>
          <tr class="table-heading">
            <td align="center"><b>Error</b></td>
            <td align="center"><b>Warning</b></td>
            <td align="center"><b>Pass</b></td>
            <td align="center"><b>Error</b></td>
            <td align="center"><b>Warning</b></td>
            <td align="center"><b>Pass</b></td>
            <td align="center"><b>Not Run</b></td>
            <td align="center"><b>Fail</b></td>
            <td align="center"><b>Pass</b></td>
          </tr>

          <tr ng-repeat="dep in cdash.subproject.dependencies" ng-class-odd="'odd'" ng-class-even="'even'">
            <td align="center" class="paddt">
              <a ng-href="index.php?project={{cdash.projectname_encoded}}&subproject={{dep.name_encoded}}&date={{cdash.date}}">
                {{dep.name}}
              </a>
            </td>

            <td align="center" ng-class="{'error': dep.nconfigureerror > 0, 'normal': dep.nconfigureerror == 0 && (dep.nconfigurewarning > 0 || dep.nconfigurepass > 0)}">
              <span ng-if="dep.nconfigureerror != 0 || dep.nconfigurewarning != 0 || dep.nconfigurepass != 0">
                {{dep.nconfigureerror}}
              </span>
            </td>

            <td align="center" ng-class="{'warning': dep.nconfigurewarning > 0, 'normal': dep.nconfigurewarning == 0 && (dep.nconfigureerror > 0 || dep.nconfigurepass > 0)}">
              <span ng-if="dep.nconfigureerror != 0 || dep.nconfigurewarning != 0 || dep.nconfigurepass != 0">
                {{dep.nconfigurewarning}}
              </span>
            </td>

            <td align="center" ng-class="{'normal': dep.nconfigureerror > 0 || dep.nconfigurewarning > 0 || dep.nconfigurepass > 0}">
              <span ng-if="dep.nconfigureerror != 0 || dep.nconfigurewarning != 0 || dep.nconfigurepass != 0">
                {{dep.nconfigurepass}}
              </span>
            </td>

            <td align="center" ng-class="{'error': dep.nbuilderror > 0, 'normal': dep.nbuilderror == 0 && (dep.nbuildwarning > 0 || dep.nbuildpass > 0)}">
              <span ng-if="dep.nbuilderror != 0 || dep.nbuildwarning != 0 || dep.nbuildpass != 0">
                {{dep.nbuilderror}}
              </span>
            </td>

            <td align="center" ng-class="{'warning': dep.nbuildwarning > 0, 'normal': dep.nbuildwarning == 0 && (dep.nbuilderror > 0 || dep.nbuildpass > 0)}">
              <span ng-if="dep.nbuilderror != 0 || dep.nbuildwarning != 0 || dep.nbuildpass != 0">
                {{dep.nbuildwarning}}
              </span>
            </td>

            <td align="center" ng-class="{'normal': dep.nbuilderror > 0 || dep.nbuildwarning > 0 || dep.nbuildpass > 0}">
              <span ng-if="dep.nbuilderror != 0 || dep.nbuildwarning != 0 || dep.nbuildpass != 0">
                {{dep.nbuildpass}}
              </span>
            </td>

            <td align="center" ng-class="{'warning': dep.ntestnotrun > 0, 'normal': dep.ntestnotrun == 0 && (dep.ntestfail > 0 || dep.ntestpass > 0)}">
              <span ng-if="dep.ntestfail != 0 || dep.ntestnotrun != 0 || dep.ntestpass != 0">
                {{dep.ntestnotrun}}
              </span>
            </td>

            <td align="center" ng-class="{'error': dep.ntestfail > 0, 'normal': dep.ntestfail == 0 && (dep.ntestnotrun > 0 || dep.ntestpass > 0)}">
              <span ng-if="dep.ntestfail != 0 || dep.ntestnotrun != 0 || dep.ntestpass != 0">
                {{dep.ntestfail}}
              </span>
            </td>

            <td align="center" ng-class="{'normal': dep.ntestfail > 0 || dep.ntestnotrun > 0 || dep.ntestpass > 0}">
              <span ng-if="dep.ntestfail != 0 || dep.ntestnotrun != 0 || dep.ntestpass != 0">
                {{dep.ntestpass}}
              </span>
            </td>

            <td align="center"  class="nob">{{dep.lastsubmission}}</td>
          </tr>
        </tbody>
      </table>

      <!-- Build groups -->
      <table ng-repeat="buildgroup in cdash.buildgroups | orderBy:'position'" border="0" cellpadding="4" cellspacing="0" width="100%" class="tabb" id="project_{{cdash.projectid}}_{{buildgroup.id}}" build-group>
      </table>

      <!-- Coverage -->
      <table ng-if="cdash.coverages.length > 0" border="0" cellpadding="4" cellspacing="0" width="100%" class="tabb" id="coveragetable">
        <thead>
          <tr class="table-heading2">
            <td colspan="1" class="nob">
              <h3><a href="#" class="grouptrigger">Coverage</a></h3>
            </td>

            <!-- quick links -->
            <td colspan="6" align="right" class="nob">
              <div id="Coverage"></div>
              <div class="quicklink">
                <span ng-repeat="buildgroup in cdash.buildgroups | orderBy:'position'">
                  <a ng-href="#{{buildgroup.linkname}}">{{buildgroup.name}}</a>
                  |
                </span>
                <a href="#DynamicAnalysis">Dynamic Analysis</a>
              </div>
            </td>
          </tr>

          <tr class="table-heading">
            <th align="center" width="20%" id="sortcoveragesort_0">Site</th>
            <th align="center" width="25%" id="sortcoveragesort_1">Build Name</th>
            <th align="center" width="10%" id="sortcoveragesort_2">Percentage</th>
            <th align="center"  width="10%" id="sortcoveragesort_3" >LOC Tested</th>
            <th align="center"  width="10%" id="sortcoveragesort_4">LOC Untested</th>
            <th align="center" width="15%" id="sortcoveragesort_5" ng-class="{'nob': cdash.displaylabels == 0}">Date</th>

            <!-- display the labels -->
            <th ng-if = "cdash.displaylabels == 1" align="center" class="nob" id="sortcoveragesort_6" width="10%">Labels</th>
          </tr>
        </thead>

        <tbody id="coveragebody">
          <tr class="child_row" ng-repeat="coverage in cdash.coverages" ng-include="'views/partials/coverageRow.html'" ng-class-odd="'odd'" ng-class-even="'even'">
          </tr>
  <!--
        <xsl:choose>
        <xsl:when test="count(cdash/subprojectgroup)>0">
        <xsl:call-template name="subprojectGroupCoverage"/>
        </xsl:when>
        <xsl:otherwise>
        <xsl:for-each select="cdash/buildgroup/coverage">
          <xsl:call-template name="coverageRow"/>
        </xsl:for-each>
        </xsl:otherwise>
        </xsl:choose>
  -->
        </tbody>
      </table>

      <table ng-if="cdash.coverages.length > 0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td height="1" colspan="14" align="left" bgcolor="#888888"></td>
        </tr>
      </table>

      <!-- Dynamic analysis -->
      <table ng-if="cdash.dynamicanalyses.length > 0" border="0" cellpadding="4" cellspacing="0" width="100%" class="tabb" id="dynamicanalysistable">
        <thead>
          <tr class="table-heading3">
            <td colspan="1" class="nob">
              <h3><a href="#" class="grouptrigger">Dynamic Analysis</a></h3>
            </td>
            <!-- quick links -->
            <td colspan="5" align="right" class="nob">
              <div id="DynamicAnalysis"></div>
              <div class="quicklink">
                <a ng-repeat="buildgroup in cdash.buildgroups | orderBy:'position'" ng-href="#{{buildgroup.linkname}}">{{buildgroup.name}}</a> |
                <a href="#Coverage">Coverage</a>
              </div>
            </td>
          </tr>
          <tr class="table-heading">
            <th align="center" width="20%" id="sortdynanalysissort_0">Site</th>
            <th align="center" width="25%" id="sortdynanalysissort_1">Build Name</th>
            <th align="center" width="20%" id="sortdynanalysissort_2">Checker</th>
            <th align="center" width="10%" id="sortdynanalysissort_3">Defect Count</th>
            <th align="center" width="15%" id="sortdynanalysissort_4" ng-class="{'nob': cdash.displaylabels == 0}">Date</th>
            <th ng-if="cdash.displaylabels == 1" align="center" class="nob" id="sortdynanalysissort_5" width="10%">Labels</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="da in cdash.dynamicanalyses" ng-class-odd="'odd'" ng-class-even="'even'">
            <td align="left">{{da.site}}</td>
            <td align="left">{{da.buildname}}</td>
            <td align="center">{{da.checker}}</td>
            <td align="center" ng-class="{'error': da.status != 'passed', 'warning': da.defectcount > 0, 'normal': da.defectcount < 1}">
              <a ng-href="viewDynamicAnalysis.php?buildid={{da.buildid}}">{{da.defectcount}}</a>
            </td>
            <td align="center" ng-class="{'nob': cdash.displaylabels == 0}">
              <span class="sorttime" style="display:none">sorttime={{da.datefull}}#</span>
              <span class="builddateelapsed" alt="{{da.date}}">{{da.dateelapsed}}</span>
            </td>

            <td ng-if="cdash.displaylabels == 1" class="nob" align="left">
              <span ng-if="labels.length == 0">(none)</span>
              <span ng-if="labels.length > 0">{{da.labels.label}}</span>
            </td>
          </tr>
        </tbody>
      </table>

      <table ng-if="cdash.buildgroups.dynamicanalysis.length > 0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td height="1" colspan="14" align="left" bgcolor="#888888"></td>
        </tr>
      </table>

      <!--
      <xsl:if test="/cdash/uselocaldirectory=1">
      <xsl:call-template name="coverageheader_local"/>
      </xsl:if>
      -->
    </div> <!-- end index content -->

    <!-- FOOTER TODO: local override -->
    <ng-include src="'views/partials/footer.html'"></ng-include>

  </body>
</html>
